{
  "extends": "@umijs/lint/dist/config/stylelint",
  "rules": {
    "no-empty-source": null,
    "function-no-unknown": null,
    "number-max-precision": null,
    "selector-class-pattern": null,
    "declaration-block-no-redundant-longhand-properties":null,
    "rule-empty-line-before": null,
    "selector-attribute-quotes": null,
    "keyframes-name-pattern": null
  }
}
